{% extends 'base.html' %}
{% block title %}
About |
{% endblock title %}

{% block body %}
<div class="container mysection">
<h1>About Us </h1>
<hr>
The must – try dishes at any of Mahi restaurant are the Mini Idlis dipped in sambhar, Medu Vada, Dahi Vada, Masala Dosa, Rava Onion Masala Dosa, Mysore Masala Dosa, Rava Kesari. The nascent coffee aroma emanating from the filter coffee, served in the traditional steel tumbler and saucer is another specialty of Mahi restaurant.
In an ever-evolving market, Mahi restaurant believes in delighting the customers with new innovations in its menu and this keeps us way ahead of competition.

</div>


{% endblock body %}

