{% extends 'base.html' %}
{% block title %}
Product |
{% endblock title %}

{% block body %}

<div class="container mysection">
  <h1>Our Products</h1>
  <hr>

  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for Add_product in Add_products %}
      <div class="col">
        <div class="card shadow-sm">
           {% comment %} <img src="{{Add_product.img.url}}" class="d-block w-100" alt="..."> {% endcomment %}
          <div class="card-body">
            <p class="text"> <h4>{{Add_product.name}}</h4>  </p>

            {% if user.is_authenticated %}

           <a style ="text-decoration: none; color : black"   href="/view/{{Add_product.id}}"><img height="60px" src="{{Add_product.img.url}}" class="d-block w-100" alt="..."></a>

            <div class="d-flex justify-content-between align-items-center">            
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary my-3"> <a style ="text-decoration: none; color : black"   href="/view/{{Add_product.id}}">View Details</a></button>
              </div> 
                <small class="text-muted"> </small>
            </div>
          {% else %}

           <img height="160px" src="{{Add_product.img.url}}" class="d-block w-100" alt="...">
           <button type="button" class="btn btn-sm btn-outline-primary my-3"> <a style ="text-decoration: none; color : black"   href="/view/{{Add_product.id}}">View Details</a></button>


          {% comment %} <button type="button" class="btn btn-sm btn-outline-primary"> <a style ="text-decoration: none; color : black"   href='/register'><i>Create your account to view Details and book your order</i> </a></button> {% endcomment %}

            {% endif %}

          </div>
        </div> 
      </div>      
    {% endfor %}
    </div>
  </div>
</div>
  {% endblock body %}